services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project-server
    ports:
      - "${SPRING_PORT}:8080"
    env_file:
      - .env.local
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
    depends_on:
      - project-database
    restart: always
    networks:
      - project-net

  project-database:
    image: mysql:8.4.4
    container_name: project-database
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - project-data:/var/lib/mysql
    restart: always
    networks:
      - project-net

volumes:
  project-data:

networks:
  project-net:
    driver: bridge
